.menu {
    background: #333131;

    {
        color: #ffffff;

        :hover {
            background: lighten(#333131,8%);
        }
    }
 }

 .mobile-nav-bar {
    background-color: #333131;
  }
  
  .mobile-nav-bar a {
    color: #fefefe;
  }
  
 
