footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.menu {
    background: #333131;
    font-family: "Grand Hotel";
 }

 .input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
  header {
      padding: 50px;
  }

a{
    color: #ffffff;
}

a:hover {
    background: lighten(#333131,8%);
}