/* Elements */

a {
  color: #ffffff;
}

a:hover {
  background: lighten(#333131, 8%);
}

body {
  padding: 2rem;
}

nav {
  background-color: black;
}

fieldset {
  height: 10rem;
  padding-top: 3rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(Assets/cuttingboard.jpg);
  margin-bottom: 2rem;
  border-radius: 30px;
}

.fa-shopping-basket, .fa-bars, .fa-users {
  /* Remember to treat as a font */
  color: white !important;
}

.branding {
  font-family: "Grand Hotel";
  color: white;
  font-size: 2rem;
  text-align: center !important;
  padding-top: 0.5rem !important;
}

#pastaTitle {
  color: gold;
}

header {
  border-radius: 30px;
  margin-top: 5rem;
}

.listPopup, .aboutUs {
  display: none;
  position: absolute !important;
  top: 3.3rem;
  right: 0;
  background-color: white;
  border-radius: 10px;
  padding: 0 3rem;
  width: fit-content;
}

.closeList, .closeDev {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.profile {
  border-radius: 50%;
  width: 100px;
}

.tooltip-right {
  background-color: transparent;
}

.hero {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(Assets/pasta.jpeg);
}

.dietBox {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, .25);
  border-radius: 0;
  color: white;
  display: none;
}

.searchRecipe {
  background-color: white;
  font-weight: 700;
  width: 50%;
  margin: auto;
  display: block;
}

.btnCenter {
  display: flex;
  width: 40%;
  margin: auto;
}

#searchBtn {
  margin: auto;
  line-height: 1;
}